{
  "presets": ["@babel/preset-env","@babel/preset-typescript"],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    ["module-resolver", {
      "extensions": [".ts"],
      "root": ["./src"],
      "alias": {
        "@src": "./src",
        "@api": "./src/api",
        "@apiEndpoints": "./src/api/routes/resources",
        "@apiData": "./src/api/data",
        "@utils": "./src/utils",
        "@test": "./test"
      }
    }]
  ]
}