version: 2.1
jobs:
  build:
    docker:
      - image: cimg/base:edge-18.04
    environment:
      IMAGE_NAME: samanthaemilyrachelb/acnhapi
      SHORT_GIT_HASH: $(echo $CIRCLE_SHA1 | cut -c -7)
    working_directory: ~/app
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: |
            docker build -t $IMAGE_NAME:latest .
      - run:
          name: Push Image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker tag $IMAGE_NAME:latest $IMAGE_NAME:SHORT_GIT_HASH
            docker push $IMAGE_NAME:latest
            docker push $IMAGE_NAME:SHORT_GIT_HASH

  build_deploy:
    docker:
      - image: "samanthaemilyrachelb/circle-k8s-deploy-1804:latest"
    environment:
      IMAGE_NAME: samanthaemilyrachelb/acnhapi
      SHORT_GIT_HASH: $(echo $CIRCLE_SHA1 | cut -c -7)
    working_directory: ~/app
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: |
            docker build -t $IMAGE_NAME:latest .
      - run:
          name: Push Image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker tag $IMAGE_NAME:latest $IMAGE_NAME:$SHORT_GIT_HASH
            docker push $IMAGE_NAME:latest
            docker push $IMAGE_NAME:SHORT_GIT_HASH
      - run:
          name: Deploy API
          command: ./scripts/ci-deploy.sh

workflows:
  version: 2.1
  build_and_deploy:
    jobs:
      - build:
        filters:
          branches:
            only:
              - /v\d{1,2}(?!-alpha)(?!-beta)/ # build and deploy any versioned non-alpha/non-beta branch

  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - develop   # build the active development branch on nightly basis
                - v\d{1,2}(-alpha|-beta) # build any versioned alpha/beta branch on nightly basis
    jobs:
      - build